.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold ;
	margin-bottom: 20px;
}

.dialogsItems img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.messages {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
}

.message{
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    width: max-content;
}

.I {
    color: black;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}
.friend {
    color: white;
    text-align: left;
}